  <form action="/dogs/<%= #{@dog.id} %>" method="post">
    <input type="text" name="name" value="<%= @dog.name %>">
    <input type="hiddgen" name="_method" value="put">
    <button>Update Dog</button>
  </form>