<!doctype html>
<html>
<head>
<meta charset="utf-8">
  <title>Stylz</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Hello from layout</h1>
  <nav>
  <%= yield %>
</body>
</html>
