<h1><%= @movie.title %><h1>

<ul>
  <li><%= @movie.plot %></li>
  <li><%= @movie.mpaa_rating %></li>
</ul>

<form action="/movies/saved" method="put">
  <input type="hidden" name="name">
  <button>Save</button>
</form>
