<h1>Add a new task!</h1>

<form action="/list" method="post">
  <label for="name">Name of task</label><br>
  <input type="text" name="name"><br>
  <label for="approx_hrs">Hours to complete</label><br>
  <input type="number" name="approx_hrs"><br>
  <label for="complete">Task complete?</label><br>
  <input type="boolean" name="complete"><br>
  <button>Add task</button>
</form>