<h1>Do it! - <%= @descriptions['name'] %></h1>

<ul>
 <% @descriptions.each do |task, desc| %>
    <span><li><%= task %>,  <%= desc %></li></span>
  <% end %>
    <br>
    <li><a href="/list/<%= @descriptions['name'] %>/edit">Edit Task</a></li>
<ul>


