<h1>Calculator</h1>

<form action="calculator" method="get">
  <input type="number" name="x">
  <input type="text" name="operator">
  <input type="number" name="y">
  <button>Calculate</button>
</form>

<p>The answer is <%= @answer %></p>

<%= "The answer is #{@answer}" if
@answer.present? %>